/* outline: 2px solid red;
    border: 2px dotted blue; */
:root {
    --accent: #00594f;
    --draw-light-primary: black;
    --draw-light-primary-inverted: white;
    --draw-light-secondary: #777777;
    --fill-light-primary: #faf7f3;
    --fill-light-secondary: #f5dfd3;

    --draw-dark-primary: white;
}

p {
    font-size: 14px;
}
a {
    color: var(--accent);
}
#socials {
    margin-top: 2em;
}
#socials > a {
    background-color: var(--accent);
    color: var(--draw-light-primary-inverted);
    padding: 1px 7px;
    margin-right: 3px;
    text-decoration: none;
}
#game {
    margin-top: 3rem;

    height: 25rem;
    width: 20rem;

    margin-left: auto;
    margin-right: auto;
    
    position: relative;

    text-align: center;

    outline: 2px dotted;
}
#game > div {
    position: absolute;
    left: 0;
    right: 0;
}
.term {
    font-family: "tiffin-latin-variable", serif;
    font-variation-settings: "wght" 600;
    font-size: 1.5em;
}
#middle-text {
    position: absolute;
    top: 10.5em;
    left: 0;
    right: 0;
}

.top {
    top: 5em;
    left: 0;
    right: 0;

    animation: 0.5s fade-in;
}
.bot {
    top: 8em;
    left: 0;
    right: 0;
    transition: 1s ease;
}
.expire {
    transform: translateY(1em);
    animation: 0.2s fade-in reverse;
}

#game > section {
    left: 0;
    right: 0;
    height: 45%;
    position: absolute;
    bottom: 0;
    font-size: 0px;
}

#result {
    animation: 0.5s linear 1s 1 reverse fade-in running forwards;
}

.choice {
    display: inline-block;
    font-family: "tiffin-latin-variable", serif;
    font-variation-settings: "wght" 400;
    font-size: 18px;

    background-color: transparent;
    outline: 1px solid black;
    color: black;
    border: none;

    margin: 10px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 5em;

    cursor: pointer;
}
.choice.hover {
    background-color: white;
    color: var(--accent);
    outline: 1px solid var(--accent);
    border-bottom: 3px solid var(--accent);

    transform: translateY(-3px);
}
.choice.active {
    background-color: var(--fill-light-secondary);
    color: var(--draw-light-secondary);
    outline: 1px solid var(--draw-light-secondary);
    border-bottom: 0px;

    transform: translateY(0px);
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}