/* outline: 2px solid red;
    border: 2px dotted blue; */
:root {
    --accent: #00594f;
    --draw-light-primary: black;
    --draw-light-primary-inverted: white;
    --draw-light-secondary: #777777;
    --fill-light-primary: #faf7f3;
    --fill-light-secondary: #f5dfd3;

    --draw-dark-primary: white;
}
a {
    color: var(--accent);
}
#socials {
    margin-top: 2em;
}
#socials > a {
    background-color: var(--accent);
    color: var(--draw-light-primary-inverted);
    padding: 1px 7px;
    margin-right: 3px;
    text-decoration: none;
}
#game {
    margin-top: 3rem;
    height: 18rem;
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    outline: 2px dotted;
}
#content {
    height: 50%;
    position: relative;
}
#content > div {
    position: absolute;
    left: 0;
    right: 0;
}
.term {
    font-family: "tiffin-latin-variable", serif;
    font-variation-settings: "wght" 600;
    font-size: 20px;
}
.top {
    bottom: 3em;

    animation: 0.5s fade-in;
}
#middle-text {
    bottom: 0.8em;
}
.bot {
    bottom: 0;
    transition: 1s ease;
}
.expire {
    transform: translateY(1em);
    animation: 0.2s fade-in reverse;
}

#game > section {
    margin-top: 30px;
    font-size: 0px;
}

#result {
    margin: 20px;
    animation: 0.5s linear 1s 1 reverse fade-in running forwards;
}

.choice {
    display: inline-block;
    font-family: "tiffin-latin-variable", serif;
    font-variation-settings: "wght" 400;
    font-size: 18px;

    background-color: transparent;
    outline: 1px solid black;
    color: black;
    border: none;

    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    min-width: 5em;

    cursor: pointer;
    touch-action: none;
}
.choice.hover {
    background-color: white;
    color: var(--accent);
    outline: 1px solid var(--accent);
    border-bottom: 3px solid var(--accent);

    transform: translateY(-3px);
}
.choice.active {
    background-color: var(--fill-light-secondary);
    color: var(--draw-light-secondary);
    outline: 1px solid var(--draw-light-secondary);
    border-bottom: 0px;

    transform: translateY(0px);
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select {
    width: fit-content;
    font-family: "halyard-text", sans-serif;
    font-weight: 200;
    background-color: var(--fill-light-primary);
    color: var(--draw-light-primary);
    padding: 2px;
    padding-left: 6px;
}

#term-type {
    position: absolute;
    top: -40px;
    right: 0;
}